In [1]:
import pandas as pd
import numpy as np

def print_ops(string):
    '''Splits the string on spaces to get operations
       Tries to run each operation and print the operation and its result
       If error: print operation and the type of error encoutered'''
    for op in string.split():
        try:
            print(op + ':', eval(op), sep='\n', end='\n\n')
        except Exception as e:
            print(op + ': ' + str(type(e)), end='\n\n')

### Problem 1
<span style="color:green">What type of object is returned from the values of the index of a Series?</span>

In [2]:
s = pd.Series(range(10))
print(s)
print('type(s.index): ', type(s.index))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
type(s.index):  <class 'pandas.indexes.range.RangeIndex'>

### Problem 2
<span style="color:green">Create a 3 element pandas Series using the Series constructor with characters as the index and numbers as the values. Output the Series.</span>

In [3]:
s = pd.Series(range(3), index='a, b, c'.split(', '))
print(s)

a    0
b    1
c    2
dtype: int32

### Problem 3
<span style="color:green">Another way to create a series is to pass a dictionary to the pandas series constructor. The keys of the dictionary become the Series index and the dictionary values become the Series values. Create a dictionary with at least 3 elements and use it to create a series. Output the Series.</span>

In [4]:
d = dict(a=1, b=2, c=3)
s = pd.Series(d)
print(s)

a    1
b    2
c    3
dtype: int64

### Using NumPy to create a Series with random values

In [5]:
idx = range(10, 110) # generate values for the index
values = np.random.rand(100) # generate 100 random numbers between 0 and 1

s = pd.Series(data=values, index=idx)

### Problem 4
<span style="color:green">Output to the screen the first 10 numbers in the Series above. Remember to only use loc and iloc when accessing Series elements.</span>

In [6]:
print(s.head(10), end='\n\n')
print(s.iloc[:10])

10    0.454944
11    0.874450
12    0.672549
13    0.061947
14    0.062035
15    0.667042
16    0.018220
17    0.818247
18    0.055435
19    0.524479
dtype: float64

10    0.454944
11    0.874450
12    0.672549
13    0.061947
14    0.062035
15    0.667042
16    0.018220
17    0.818247
18    0.055435
19    0.524479
dtype: float64

### Problem 5
<span style="color:green">Output elements with labels 40, 50 and 99 from the Series above.</span>

In [7]:
print(s.loc[[40, 50, 99]], end='\n\n')

40    0.744936
50    0.264674
99    0.831651
dtype: float64

### Problem 6
<span style="color:green">Output the last ten elements of the Series.</span>

In [8]:
print(s.iloc[-10:])

100    0.897921
101    0.804515
102    0.903254
103    0.489715
104    0.691382
105    0.555743
106    0.830310
107    0.657291
108    0.035045
109    0.894307
dtype: float64

### Problem 7
<span style="color:green">Output every 15th element using slice notation.</span>

In [9]:
print(s.iloc[::15])

10     0.454944
25     0.932237
40     0.744936
55     0.388290
70     0.387512
85     0.777440
100    0.897921
dtype: float64

### Problem 8
<span style="color:green">Write a function that accepts a single argument. The argument will be a Series. Have the function return the difference between the largest and smallest Series value. Run your function with the Series above.</span>

In [10]:
def max_min_diff(series):
    '''Return the difference between the largest and smallest Series value'''
    return series.max() - series.min()

print(max_min_diff(s))

0.961034928489

### Problem 9
<span style="color:green">If two Series are added with no indices in common, what will be the outcome? Check your answer by coding this situation.</span>

It will result in a series with the indexes of both series and all NaN for values

In [11]:
s1 = pd.Series(range(5), index=range(5))
s2 = pd.Series(range(5), index=range(5, 10))
print_ops('s1 s2 s1+s2')

s1:
0    0
1    1
2    2
3    3
4    4
dtype: int32

s2:
5    0
6    1
7    2
8    3
9    4
dtype: int32

s1+s2:
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

### Problem 10
<span style="color:green">What if the two series from problem 9 were subtracted, multiplied or divided together?</span>

Same, indexes from both series and all values NaN

In [12]:
# print_ops('s1-s2 s1*s2 s1/s2')
df = s1.to_frame(name='s1').join(s2.to_frame(name='s2'), how='outer')
df['s1 - s2'] = df['s1'] - df['s2']
df['s1 * s2'] = df['s1'] * df['s2']
df['s1 / s2'] = df['s1'] / df['s2']
print(df)

    s1   s2  s1 - s2  s1 * s2  s1 / s2
0  0.0  NaN      NaN      NaN      NaN
1  1.0  NaN      NaN      NaN      NaN
2  2.0  NaN      NaN      NaN      NaN
3  3.0  NaN      NaN      NaN      NaN
4  4.0  NaN      NaN      NaN      NaN
5  NaN  0.0      NaN      NaN      NaN
6  NaN  1.0      NaN      NaN      NaN
7  NaN  2.0      NaN      NaN      NaN
8  NaN  3.0      NaN      NaN      NaN
9  NaN  4.0      NaN      NaN      NaN

### Problem 11
<span style="color:green">Create two Series that have 3 elements each and when added together yield a Series that has four 4 elements that are all not missing.</span>

In [13]:
s1 = pd.Series(range(1, 4), index=['a', 'a', 'b'])
s2 = pd.Series(range(11, 14), index=['a', 'b', 'b'])
# print_ops('s1 s2 s1+s2')
df = s1.to_frame(name='s1').join(s2.to_frame(name='s2'), how='outer')
df['s1 + s2'] = df['s1'] + df['s2']
print(df)

   s1  s2  s1 + s2
a   1  11       12
a   2  11       13
b   3  12       15
b   3  13       16